<div id="culti"><p id="tituloculti">Cultivo de plantas</p></div>
    <div id="Tplantas">
        <div id="T1"><p id="TS">Suculentas</p></div>
        <div id="T1"><p id="TS">Carnívoras</p></div>
        <div id="T1"><p id="TS">Aromáticas</p></div>
        <div id="T1"><p id="TS">Ornamentales</p></div>
    </div>
    <div id="partes2">
        <div class="sucu" id="suculenta"><div id="cuadroS"><p id="textoS">Las plantas suculentas o crasas son aquellas en las que algún órgano o parte se ha modificado en una nueva especialización que permite el almacenamiento de agua en cantidades mucho mayores que en el resto de las plantas.<br>  Esta adaptación les permite mantener reservas de agua durante períodos prolongados y sobrevivir en entornos áridos y secos que otras plantas encuentran inhabitables.</p></div></div>
        <div class="sucu" id="carni"><div id="cuadroS"><p id="textoS">Una planta carnívora, también llamada planta insectívora, es una planta que obtiene parte o la mayoría de sus necesidades nutricionales (pero no de energía) mediante la captura y el consumo de animales y protozoos, normalmente insectos (además de otros artrópodos). Estas plantas crecen generalmente en lugares donde el suelo es pobre, en especial en nitrógeno, como las tierras ácidas pantanosas y los farallones rocosos.</p></div></div>
        <div class="sucu" id="aroma"><div id="cuadroS"><p id="textoS">Las hierbas aromáticas son plantas muy utilizadas en la cocina mediterránea por sus cualidades aromáticas y condimentarias. <br>Son cultivadas en huertos de diferente extensión.
        La expresión finas hierbas se utiliza por lo general para designar una mezcla de cuatro hierbas: cebollino, perifollo, estragón y perejil que constituyen el pilar de la cocina francesa.</p></div></div>
        <div class="sucu" id="orna"><div id="cuadroS"><p id="textoS">Una planta ornamental es aquella que se cultiva y se comercializa con propósitos decorativos por sus características estéticas, como las flores, hojas, perfume, la peculiaridad de su follaje, frutos o tallos en jardines y diseños paisajísticos, como planta de interior o para flor cortada. Su cultivo, llamado floricultura, forma una parte fundamental de la horticultura.</p></div></div>
    </div>
</div>
