<!--La seccion1 es donde esta almacenado el sylder principal -->
<section class="row" id="seccion1" style="height: 500px; background-color: #181919">
	
</section>
<!--video in seccion3 -->
<section id="seccion3">
				<div id="convideo">
					<object data="http://www.youtube.com/v/k7LLH1yt7eQ"></object>
				</div>
</section>	
<!--La seccion4 es donde esta almacenado el banner principal -->
<section  class="row" id="seccion4">
	<div class="col-xs-4">
		<h2 class="ban"><center>GALERIAS</center></h2>
		<%= link_to image_tag("nueva1.jpg", :width =>'100%', :id =>'b1'), galeria_url %>

	</div>
	<div class="col-xs-4">
		<h2 class="ban"><center>PAISAJÍSMO</center></h2>
		<%= link_to image_tag("jardin.jpg", :width =>'100%', :id =>'b2'), servicios_url %>

	</div>
	<div class="col-xs-4">
		<h2 class="ban"><center>HISTORIA</center></h2>
		<%= link_to image_tag("arbol.jpg", :width =>'100%', :id =>'b3'), quienes_url %>
	</div>
</section>
<%= render 'aliados' %>