<%= image_tag("quienes1.PNG", id:"quienes", :class => "img-responsive") %>
<%= image_tag("quienes2.PNG", id:"quienes", :class => "img-responsive") %>
<section class="row" id="seccion3">
	<div><center><h2 class="ban">Jarum nace del macro-proyecto<br><b>Moravia florece para la vida</b></h2></center></div>
	<div>
		<object  id="convideo" data="http://www.youtube.com/v/k7LLH1yt7eQ">
		</object>
	</div>
</section>	
<%= image_tag("quienes3.PNG", id:"quienes", :class => "img-responsive") %>
