// Place all the styles related to the Principal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*Index*/
/*seccion1*/
#seccion1{
    height: 530px; 
    background-color: #181919;}

#myCarousel{
    height: 500px;}

#imgcarousel{
    opacity: 0.6;
    margin-top: 10px;
    height: 520px;
    width: 100%;
    background-size: cover;}

.carousel-caption{font-size: 25px;}

/*seccion2*/
#seccion2{ 
    margin-top: -8px;
    height:1350px; /* Rectangulo superior*/        
    width: 100%; /* las medidas deben ser relativas*/
    background:#181919; 
    position: relative;} 

.titleseccion2{
    font-family:'NeutraTextTF-Demi';;
    color:white;
    font-size: 25pt;
    text-align:center;
    padding: 20px 10px 10px 10px;
    display: inline-block;}

#titleseccion2{
    width: 50%;
    height: 100%;
    float:left;
    text-align: center;}

#compost{background-image:url("jardineria.jpg")}
#paisajismo{background-image:url("moravia.jpg")}

.imgseccion2{
    width: 50%;
    height: 500px; 
    background-size: cover;
    background-color: transparent;
    float:left;}

#textoseccion2{
    display: none;}

.colortextseccion2{
    text-align:center;
    color: white;}

#cuadroseccion2{
    width: 70%;
    height: 90%;
    background: rgba(25, 25, 25, 0.50);
    float: left;
    margin-left: 15%;
    margin-top: 2%;
    display: none;}

.imgseccion2:hover #cuadroseccion2{    
    width: 70%;
    height: 90%;
    background: rgba(25, 25, 25, 0.50);
    float: left;
    margin-left: 15%;
    margin-top: 2%;
    display: block;}

.imgseccion2:hover #textoseccion2{    
    font-family:'NeutraTextTF-Demi';
    font-size: 22pt;
    margin-top: 90px;
    display: block;}

.imgseccion2:hover{
    -webkit-filter: grayscale(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;}

#culti{ 
    width: 100%;
    height: 100px;
    background-color: transparent;}

#tituloculti{
    margin-top: 20px;
    font-family:'NeutraTextTF-Demi';
    color:white;
    font-size: 35px;
    text-align:center;}

#Tplantas{ 
    width: 100%;
    height: 100px;
    background-color: transparent;
    float:left;}

#T1{ 
    width: 25%;
    height: 100%;
    float:left;
    text-align: center;}

#TS{ 
    font-family:'NeutraTextTF-Demi';
    color:white;
    font-size: 32px;
    text-align:center;
    padding: 20px 140px 10px 100px;}

#partes2{
    width: 100%;
    height: 500px;
    background-color: #675219;
    float:left;
    margin-bottom: 2px;}

#suculenta{background-image:url("img7.jpg")}
#carni{background-image:url("carni.jpg")}
#aroma{background-image:url("aroma.jpg")}
#orna{background-image:url("orna.jpg")}

.sucu{
    width: 25%;
    height: 100%;
    background-size: cover;
    background-color: transparent;
    float:left;}

#cuadroS{
    width: 80%;
    height: 90%;
    background: rgba(25, 25, 25, 0.50);
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    display: none;}

#textoS{display: none}

.sucu:hover #textoS{    
    font-family:'NeutraTextTF-Demi';
    color:white;
    font-size: 15pt;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    text-align:center;
    display: block;}

.sucu:hover #cuadroS{    
    width: 80%;
    height: 90%;
    background: rgba(25, 25, 25, 0.50);
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    display: block;}

.sucu:hover{
    -webkit-filter: grayscale(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;}

/*seccion3*/
#seccion3{
    margin: auto;
    width: 100%;
    height: 730px;
    background-color: #1C2615;
    background-image: url("SQ3.jpg");
    background-size:cover;}
    
#convideo{
    width: 700px;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;}

/*seccion4*/
#seccion4{
	 padding: 20px;
	 height: 550px;
     background-position: center;
	 background-color: #181919;}

.ban{
    border:10px;
    border-color: black;
	font-family: verdana;
	color: white;
    margin-left: 30px;}


div .baner{
	border: 2px;
	border-color: white;
    padding: 15px;
    margin-left: 20px;
    height: 300px;
    width: 300px;}

#b1{margin-right: 3px}


/*Galery*/


@media screen and (min-width: 731px) and (max-width: 1300px){
    #seccion1{height: 490px}
    #myCarousel{height: 480px}
    #imgcarousel{height: 480px}
    .carousel-caption{font-size: 18px}
    #seccion2{ height:1000px} 
    .imgseccion2{
        width: 50%;
        height: 380px;}
    .colortextseccion2{font-size: 18px}
    #Tplantas{
        height: 50px;
        margin-top: -40px;
        margin-bottom: 10px;}
    #t1{padding: auto;
        margin-top: -100px;}
    #TS{font-size: 24px}

    #tituloculti{
        margin-top: 15px;
        font-size: 30px;}

    #partes2{height: 380px}
    .sucu:hover #textoS{font-size: 14px}

    #seccion4{height: 380px}
    #seccion3{height: 550px}

    #convideo{
        width: 500px;
        height: 380px;}
}

@media screen and (min-width: 500px) and (max-width: 730px) {
    #seccion1{height: 460px}
    #myCarousel{height: 450px}
    #imgcarousel{height: 450px}
    .carousel-caption{font-size: 15px;}
    #seccion2{height: 890px}
    .imgseccion2{height: 300px}
    .colortextseccion2{font-size: 14px}
    #Tplantas{
        margin-left: -80px;
        height: 45px;
        margin-top: -50px;
        margin-bottom: 10px;}

    #TS{font-size: 20px}

    #tituloculti{
        margin-top: 12px;
        font-size: 25px;}

    #partes2{height: 300px}
    .sucu:hover #textoS{display: none}
    .sucu:hover #cuadroS{ display: none}
    #seccion4{height: 450px}
    #seccion3{display: none}

    #seccion4{
	   padding: 15px;
	   height: 240px;
       background-position: center;
	   background-color: #181919;}

    .ban{
        font-size: 20px;
 	    font-family: verdana;
	    color: white;
        margin-top: -35px;
        margin-left: 20px;}

    #b1{margin-left: 5px;}
 	
 }

@media screen and (min-width: 230px) and (max-width: 500px) {
    #seccion1{height: 410px}
    #myCarousel{height: 400px}
    #imgcarousel{height: 400px}
    .carousel-caption{font-size: 15px;}
    #seccion2{height: 680px}
    .imgseccion2{height: 230px}
    .colortextseccion2{font-size: 10px}
    #Tplantas{
        height: 30px;
        margin-left: -80px;
        margin-top: -60px;}

    #TS{font-size: 13px}

    #tituloculti{
        margin-top: 14px;
        font-size: 20px}

    #partes2{height: 230px}
    .sucu:hover #textoS{display: none}
    .sucu:hover #cuadroS{ display: none}
    #seccion3{display: none}
    #convideo{
    width: 280px;
    height: 200px;}

    #seccion4{
         padding: 10px;
         height: 180px;
         background-position: center;
         background-color: #181919;}


    .ban{
        font-size: 13px;
        font-family: verdana;
        color: white;
        margin-top: -10px;
        margin-left: 10px;}

    #b1{
        margin-left: 5px;}
    
}