

#culti{ 
    width: 100%;
    height: 100px;
    background-color: transparent;
    float:left;
}

#tituloculti{
    font-family:'NeutraText-BookSC';
    color:white;
    font-size: 25pt;
    text-align:center;
    padding: 20px 140px 10px 100px;
}


#Tplantas{ 
    width: 100%;
    height: 100px;
    background-color: transparent;
    float:left;
}

#T1{ 
    width: 25%;
    height: 100%;
    float:left;
    text-align: center;}
#TS{ 
    font-family:'NeutraText-BookSC';
    color:white;
    font-size: 25pt;
    text-align:center;
    padding: 20px 140px 10px 100px;}
#TC{ 
    font-family:'NeutraText-BookSC';
    color:white;
    font-size: 25pt;
    text-align:center;
    padding: 20px 140px 10px 100px;}
#TA{ 
    font-family:'NeutraText-BookSC';
    color:white;
    font-size: 25pt;
    text-align:center;
    padding: 20px 140px 10px 100px;}
#TO{ 
    font-family:'NeutraText-BookSC';
    color:white;
    font-size: 25pt;
    text-align:center;
    padding: 20px 140px 10px 100px;}


#partes2{
    width: 100%;
    height: 500px;
    background-color: #675219;
    float:left;
    margin-bottom: 2px;}

#sucu{
    width: 25%;
    height: 100%;
    background-image:url("img7.jpg");
    background-size: cover;
    background-color: transparent;
    float:left;
}

#cuadroS{
    width: 80%;
    height: 90%;
    background: rgba(25, 25, 25, 0.50);
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    display: none;
}


#textoS{    
    display: none;
}

#sucu:hover #textoS{    
    font-family:'NeutraTextTF-Demi';
    color:white;
    font-size: 15pt;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    text-align:center;
    display: block;
}


#sucu:hover #cuadroS{    
    width: 80%;
    height: 90%;
    background: rgba(25, 25, 25, 0.50);
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    display: block;
}

#sucu:hover{
    -webkit-filter: grayscale(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}




#carni{
    width: 25%;
    height: 100%;
    background-image:url("carni.jpg");
    background-size: cover;
    background-color: transparent;
    float:left;
}

#cuadroC{
    width: 80%;
    height: 90%;
    background: rgba(25, 25, 25, 0.50);
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    display: none;
}


#textoC{    
    display: none;
}

#carni:hover #textoC{    
    font-family:'NeutraTextTF-Demi';
    color:white;
    font-size: 15pt;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    text-align:center;
    display: block;
}

#carni:hover #cuadroC{    
    width: 80%;
    height: 90%;
    background: rgba(25, 25, 25, 0.50);
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    display: block;
}

#carni:hover{
    -webkit-filter: grayscale(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#aroma{
    width: 25%;
    height: 100%;
    background-image:url("aroma.jpg");
    background-size: cover;
    background-color: transparent;
    float:left;
}

#cuadroA{
    width: 80%;
    height: 90%;
    background: rgba(25, 25, 25, 0.50);
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    display: none;
}


#textoA{    
    display: none;
}

#aroma:hover #textoA{    
    font-family:'NeutraTextTF-Demi';
    color:white;
    font-size: 15pt;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    text-align:center;
    display: block;
}

#aroma:hover #cuadroA{    
    width: 80%;
    height: 90%;
    background: rgba(25, 25, 25, 0.50);
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    display: block;
}

#aroma:hover{
    -webkit-filter: grayscale(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#orna{
    width: 25%;
    height: 100%;
    background-image:url("orna.jpg");
    background-size: cover;
    background-color: transparent;
    float:left;
}

#cuadroO{
    width: 80%;
    height: 90%;
    background: rgba(25, 25, 25, 0.50);
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    display: none;
}


#textoO{    
    display: none;
}

#orna:hover #textoO{    
    font-family:'NeutraTextTF-Demi';
    color:white;
    font-size: 15pt;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    text-align:center;
    display: block;
}

#orna:hover #cuadroO{    
    width: 80%;
    height: 90%;
    background: rgba(25, 25, 25, 0.50);
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    display: block;
}

#orna:hover{
    -webkit-filter: grayscale(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

