.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;}

#slidegalery{
	margin: auto;
	width: auto;
    height: auto;}


@media screen and (min-width: 1300px) {

#carousel-bounding-box{height: 450px}
}


//=estilo slide interior
